.menuItem {
	display: block;
	background-color: rgba(0, 0, 0, 0.8);
	border: 2px solid #FFF;
	border-radius: 1em;
	color: #FFF;
	font-size: 19px;
	font-weight: bold;
	padding: 0.3em;
	margin: 0.3em;
	min-width: 300px;
	width: 100%;
	text-align: center;
}

.menuItem:active {
	background-color: rgba(255, 255, 255, 0.8);	
}

.dialog {
	color: #ffffff;
	font-size: 19px;
	font-weight: bold;
	
	border: none;
	border-radius: 1em;
	margin: 5px;
	padding: 1em;
	background: rgba(0, 0, 0, 0.8);	
}

.toast {
	color: #ffffff;
	font-size: 19px;
	font-weight: bold;
	
	border: none;
	border-radius: 1em;
	margin: 5px;
	padding: 1em;
	background: rgba(0, 0, 0, 0.8);	
}

.dialogTitle {
	color: #ffffff;
	font-size: 21px;
	font-weight: bold;
	margin: 10px;
	text-decoration: underline;
	text-align: center;
}

.dialogMessage {
	color: #ffffff;
	font-size: 19px;
	margin: 10px;
	text-align: center;
}

.dialogButtons {
	text-align: center;
	padding-top: 15px;
}

.dialogButton {
	background-color: rgba(0, 0, 0, 0.8);
	border: 2px solid #FFF;
	border-radius: 1em;
	color: #FFF;
	font-size: 19px;
	font-weight: bold;
	padding: 0.3em;
	margin: 0.3em;
	min-width: 150px;
	width: 160px;
	text-align: center;
}

.dialogButton:active {
	background-color: rgba(255, 255, 255, 0.8);	
}