.menuItem {
	display: block;
	background: rgba(40, 40, 40, 1);	

	color: #FFF;
	font-size: 1.1em;
	margin: 0 auto;
	padding: 0.5em;
	min-width: 20em;
	width: 100%;
	text-align: center;
	
	border-top: 1px solid rgba(255,255,255,0.34);
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	border-radius: 0;
}

.menuItem:focus,
.menuItem:hover
{
	background: rgba(50,165,207,0.5);
}

.toast {
	color: #ffffff;
	font-size: 1.2em;
	
	border: none;
	border-radius: 0;
	box-shadow: 0 0.5em 3em rgba(0,0,0,0.5);
	
	margin: 0;
	padding: 1em;
	background: rgba(40, 40, 40, 1);	
}

.dialog {
	color: #ffffff;
	
	border: none;
	border-radius: 0;
	box-shadow: 0 0.5em 3em rgba(0,0,0,0.5);
	
	margin: 0;
	padding: 0;
	background: rgba(40, 40, 40, 1);	
}

.dialogTitle {
	color: #33b5e5;
	font-size: 1.3em;
	margin: 0 auto;
	padding: 0.7em;
	
	border-bottom-color: #33b5e5;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.dialogMessage {
	color: #ffffff;
	font-size: 1.2em;
	padding: 1em;
	text-align: center;
}

.dialogItem {
	display: block;
	background: rgba(40, 40, 40, 1);	

	color: #FFF;
	font-size: 1.1em;
	margin: 0 auto;
	padding: 0.5em;
	min-width: 19em;
	width: 100%;
	text-align: center;
	
	border-top: 1px solid rgba(255,255,255,0.34);
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	border-radius: 0;
}

.dialogItem:focus,
.dialogItem:hover
{
	background: rgba(50,165,207,0.5);
}

.dialogButtons {
	display: table;
	width: 100%;
}

.dialogButtonContainer {
	display: table-cell;
}

.dialogButtonContainer+.dialogButtonContainer {
	border-left: 1px #474747 solid;
}

.dialogButton {
	color: white;
	text-align: center;
	font-size: 1.1em;
	margin: 0;
	padding: 0.5em 1.5em;
	min-width: 9em;
	width: 100%;

	border-top: 1px solid #474747;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	border-radius: 0;

	background: rgba(50, 50, 50, 1);
}

.dialogButton:focus,
.dialogButton:hover
{
	background: rgba(50,165,207,0.5);
}

.preferencesActivity {
	overflow: auto; 
	
	color: #ffffff;
	
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 1em;
	background: rgba(0, 0, 0, 0.8);	
}

.preferencesActivityContent {
	margin: 0 auto;
}

.preferencesLabel {
	font-size: 1.3em;
}

.preferencesSummary {
	font-size: 0.9em;
}

.preferencesListBox {
	float: right;
	font-size: 1em;
}

.preferencesCheckBox {
	float: right;
	font-size: 1.3em;
}

.invisible {
	visibility: hidden;
}

.gone {
	display: none;
}