
.actionbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 3rem;
    line-height: 3rem;

    font-size: 1.5rem;

    color: white;
    background: rgba(40,40,40,0.9);
}

.actionbarHome {
    float: left;
}

.actionbarHome:active,
.actionbarHome:hover
{
    background: rgba(50,165,207,0.5);
}

.actionbarIcon {
    float: left;
    margin: 0;
    padding-left: 1rem;
    padding-right: 0.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 2.2rem;
    height: 2.2rem;
}

.actionbarTitle {
    float: left;
    padding-right: 0.4rem;
}

.actionbarHomeAsUp {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 1.6rem;
    width: 1.4rem;
    height: 1.4rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.actionbarButton {
    margin: 0;
    padding: 0.3rem;
    width: 2.4rem;
    height: 2.4rem;
}

.actionbarButton:active,
.actionbarButton:hover
{
    background: rgba(50,165,207,0.5);
}

.menuItem {
	display: block;
	background: rgba(40, 40, 40, 1);

	color: #FFF;
	font-size: 1.2rem;
	margin: 0 auto;
	padding: 0.6rem;
	min-width: 20rem;
	text-align: center;

	border: 0;
}

.menuItem:active,
.menuItem:hover {
	background: rgba(50, 165, 207, 0.5);
}

.titlePager {
    display: table;
    width: 100%;
}

.titlePagerElement {
   display: table-cell;
   height: 2.4rem;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   background: rgba(255, 255, 255, 0.7);
}

.titlePagerElementSelected {
   border-bottom: thick solid rgb(50, 165, 207);
}

.toast {
	color: #ffffff;
	font-size: 1.2rem;

	border: none;
	border-radius: 0;
	box-shadow: 0 1rem 5rem rgba(0, 0, 0, 1);

	margin: 0;
	padding: 1rem;
	background: rgba(40, 40, 40, 1);
}

.dialog {
	color: #ffffff;

	min-width: 20rem;

	border: none;
	border-radius: 0;
	box-shadow: 0 1rem 5rem rgba(0, 0, 0, 1);

	margin: 0;
	padding: 0;
	background: rgba(40, 40, 40, 1);
}

.dialogTitle {
	color: #33b5e5;
	font-size: 1.4rem;
	margin: 0 auto;
	padding: 0.8rem;
}

.dialogMessage {
	color: #ffffff;
	font-size: 1.2rem;
	padding: 1rem;
	text-align: center;
}

.dialogItem {
	display: block;
	background: rgba(40, 40, 40, 1);

	color: #FFF;
	font-size: 1.1rem;
	margin: 0 auto;
	padding: 0.6rem;
	min-width: 22rem;
	width: 100%;
	text-align: center;

	border-top: 1px solid rgba(255, 255, 255, 0.34);
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	border-radius: 0;
}

.dialogItem:focus,
.dialogItem:hover {
	background: rgba(50, 165, 207, 0.5);
}

.dialogButtons {
    text-align: right;
}

.dialogButton {
	color: #33b5e5;
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	margin: 0.4rem 0.4rem 0.4rem 0rem;
	padding: 0.4rem 0.8rem;
	min-width: 4rem;
	border: 0;
	background: rgba(40, 40, 40, 1);
}

.dialogButton:focus,
.dialogButton:hover {
	background: rgba(50, 165, 207, 0.5);
}

.snackbar {
	background: rgba(50, 50, 50, 1);
	color: #FFF;
	font-size: 1rem;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}

.snackbarButton {
	color: #33b5e5;
	text-align: center;
	font-size: 1rem;
	margin-top: 1rem;
	margin-right: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
	padding: 0.5rem 0.5rem;
    float: right;
	border: 0;
	background: rgba(50, 50, 50, 1);
}

.dialogButton:focus,
.dialogButton:hover {
	background: rgba(50, 165, 207, 0.5);
}

.preferencesFragment {
	overflow: auto;

	color: #ffffff;

	border: none;
	border-radius: 0;
	margin: 0;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
}

.preferencesFragmentContent {
	display: inline-block;
	text-align: left;
}

.preferencesElement {
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.34);
	border-left: 0;
	border-radius: 0;
}

.preferencesLabel {
	font-size: 1.3rem;
}

.preferencesSummary {
	font-size: 1rem;
}

.preferencesListBox {
	float: right;
	font-size: 1rem;
}

.preferencesCheckBox {
	float: right;
	font-size: 1.3rem;
}

.invisible {
	visibility: hidden;
}

.gone {
	display: none;
}