.menuItem {
	display: block;
	background: rgba(40, 40, 40, 1);

	color: #FFF;
	font-size: 1.2rem;
	margin: 0 auto;
	padding: 0.6rem;
	min-width: 22rem;
	width: 100%;
	text-align: center;

	border-top: 1px solid rgba(255, 255, 255, 0.34);
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	border-radius: 0;
}

.menuItem:focus,
.menuItem:hover {
	background: rgba(50, 165, 207, 0.5);
}

.toast {
	color: #ffffff;
	font-size: 1.2rem;

	border: none;
	border-radius: 0;
	box-shadow: 0 1rem 5rem rgba(0, 0, 0, 1);

	margin: 0;
	padding: 1rem;
	background: rgba(40, 40, 40, 1);
}

.dialog {
	color: #ffffff;

	border: none;
	border-radius: 0;
	box-shadow: 0 1rem 5rem rgba(0, 0, 0, 1);

	margin: 0;
	padding: 0;
	background: rgba(40, 40, 40, 1);
}

.dialogTitle {
	color: #33b5e5;
	font-size: 1.3rem;
	margin: 0 auto;
	padding: 0.7rem;

	border-bottom-color: #33b5e5;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.dialogMessage {
	color: #ffffff;
	font-size: 1.2rem;
	padding: 1rem;
	text-align: center;
}

.dialogItem {
	display: block;
	background: rgba(40, 40, 40, 1);

	color: #FFF;
	font-size: 1.1rem;
	margin: 0 auto;
	padding: 0.6rem;
	min-width: 22rem;
	width: 100%;
	text-align: center;

	border-top: 1px solid rgba(255, 255, 255, 0.34);
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	border-radius: 0;
}

.dialogItem:focus,
.dialogItem:hover {
	background: rgba(50, 165, 207, 0.5);
}

.dialogButtons {
	display: table;
	width: 100%;
}

.dialogButtonContainer {
	display: table-cell;
}

.dialogButtonContainer + .dialogButtonContainer {
	border-left: 1px #474747 solid;
}

.dialogButton {
	color: white;
	text-align: center;
	font-size: 1.2rem;
	margin: 0;
	padding: 0.8rem 1.5rem;
	min-width: 9rem;
	width: 100%;

	border-top: 1px solid #474747;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	border-radius: 0;

	background: rgba(50, 50, 50, 1);
}

.dialogButton:focus,
.dialogButton:hover {
	background: rgba(50, 165, 207, 0.5);
}

.preferencesFragment {
	overflow: auto;

	color: #ffffff;

	border: none;
	border-radius: 0;
	margin: 0;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.8);
}

.preferencesElement {
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.34);
	border-left: 0;
	border-radius: 0;
}

.preferencesLabel {
	font-size: 1.3rem;
}

.preferencesSummary {
	font-size: 1rem;
}

.preferencesListBox {
	float: right;
	font-size: 1rem;
}

.preferencesCheckBox {
	float: right;
	font-size: 1.3rem;
}

.invisible {
	visibility: hidden;
}

.gone {
	display: none;
}